@import "../../common/colors.scss";

.grid-taxtable {
  max-width: 50%;
  margin: 1rem auto 1rem;
  background-color: $grid-taxtable-bg;
  padding: 0 6px;
  border-radius: 6px;

  .edit-table {
    display: flex;
    justify-content: right;
  }

  .column-header {
    font-weight: 600;
  }

  .footer-message {
    display: flex;
    align-items: center;
  }

  .edit-action-btn {
    background-color: $grid-taxtable-edit-btn-wrapper;

    &:hover {
      background-color: $grid-taxtable-edit-btn-wrapper;
    }
  }
}
